#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
}

#map{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#comment-num-container{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#comment-container {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  length: 750px
}

#delete-container {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

body {
  background-color: lavender;
}

/* Slideshow container */
.slideshow-container {
  max-width: 650px;
  width: 650px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
}

/* Hide the images by default */
.slides-fade {
  display: none;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-left: -50px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  text-align: center;
}